pythonWeb/ex01RestApplication/.venv/
pythonWeb/ex01RestApplication/.ex01RestApplicationVenv/
**/__pycache__/**
**checkpoint.ipynb
**.iml
pythonFlask/ex01RestApplication/.ex01RestApplicationVenv/
machinelLearningAndDataScience/.machinelLearningAndDataScienceVenv/
